<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>generacionQR</title>
</head>
<body>
    <header>
        <h1 style="text-align: center;">Generar un QR con API</h1>
    </header>

    <div style="margin: 50px;">
        <div>
            <label for="input1">Nombre</label>
            <input type="text" id="input1" required maxlength="100" placeholder="Ingresa tu nombre">
            <br><br>
            <label for="input2">Correo: </label>
                <input type="email" id="input2" required maxlength="100" placeholder="Ingresa tu correo">
                <br><br>
                <label for="input3">Seleccion de institucion: </label>
                    <input type="text" id="input3" required list="listaEscuelas">
                    <datalist id="listaEscuelas">
                        <option value="IPN">Politecnico</option>
                        <option value="FESARAGON">Facultad de Estudios Superiores Aragon</option>
                        <option value="UAM">UAM</option>
                        <option value="CU">C.U.</option>

                    </datalist>
                    <br><br>
                    <label for="input4">Dependencia:</label>
                        <input type="text" id="input4" maxlength="50" required placeholder="Ingresa tu dependencia">
                        <br><br>
                    <div>
                        <button onclick="generarqr()">Generar QR</button>
                        <button onclick="location.href = 'generacionQR.html'">Generar nuevo codigo QR</button>
                    </div>
                    <br><br>
                    <div style="text-align: center;" id="qr-code">
                        <!-- Aqui se formara el QR con  los datos -->
                    </div>
            </div>
        </div>
        <a href="/"> Inicio</a>
    </body>
    <script src="/app2.js"></script>
    </html>