<!DOCTYPE html>
<html>
<head>
    <title>Inicio de mi página principal</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Inicio de mi página principal</h1>
    <p>Esta es una página de inicio con rutas</p>
    <a href="/registro.html">Ir a registro</a>
    <br>
    <a href="/generacionQR.html">Escanear código QR</a>
    <br>
    <a href="/calculadora.html">Ir a la calculadora</a>

    <div id="content">
        </div>

    <script src="app.js"></script>
</body>
</html>